<div id="wrap">
  <ng-container *ngFor="let story of storys;index as i">
    <div [id]="i" class="row" [class.pay]="story.pay > 0" draggable="true" (dragstart)="dragstart($event)" (dragenter)="dragentertxt($event)"
      (dragover)="dragover($event)" (drop)="droptxt($event)" (dragend)="dragend()">
      <div>
        <div class="media" [id]="'media' + story.id" [innerHtml]="story.media" (dragenter)="dragenter($event)"
          (dragover)="dragover($event)" (drop)="dropmedia($event)" draggable="false" (contextmenu)="context($event)">
        </div>
      </div>
      <div class=" tiny" [innerHtml]="story.txt | safe: 'html'"></div>
    </div>
  </ng-container>
</div>

<button (click)="newrow()">新規</button>
<button (click)="save()">保存</button>
<canvas style='display:none;'></canvas>
<div class="menu" *ngIf="contextMenu" [style.left.px]="contextMenu.x" [style.top.px]="contextMenu.y">
  <ul>
    <li><input class="url" type="text" placeholder="twitterやyoutubeのurl" (change)="urlup($event)"><button (click)="urlup($event)">適用</button></li>
    <li><input type="file" value="ファイルを選択" (change)="fileup($event)"></li>
    <li><button (click)="mediaDel($event)">削　除</button></li>
  </ul>
</div>
<!--
 <div fxLayout="row" [id]="i" class="row">
      <div fxFlex class="tiny" [innerHtml]="story.txt | safe: 'html'"></div>
      <div fxFlex="30">
        <div class="media" [id]="'media' + story.id" [innerHtml]="story.media">
        </div>
        <input class="url" type="text"> <input type="file" value="ファイルを選択">
        <editor [init]="tinyInit"></editor>
      </div>
    </div>

  
-->