<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawerL id="sidel" class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <app-tree [user]="user" (getrooms)="onGetRooms($event)" (selected)="onSelected($event)"></app-tree>
  </mat-sidenav>
  <mat-sidenav #drawerR position="end" id="sider" class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <app-member [user]="user" [room]="room"></app-member>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" [class.paid]="room.price" [class.logout]="!user.id" [class.save]="save">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawerL.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{room.na}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span *ngIf="(room.id===0 || room.id===900) && user.id">{{user.p | number}}ポイント</span>
      <span class="fill-space"></span>
      <button *ngIf="save=='saveroom'||save=='savestory'" mat-icon-button (click)="exec=save">
        <mat-icon>save</mat-icon>
      </button>
      <button *ngIf="save" mat-icon-button (click)="undo()">
        <mat-icon>undo</mat-icon>
      </button>
      <button mat-icon-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawerR.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <div *ngIf="!user.id">
      <button (click)="login('twitter')">twitter</button>
      <button (click)="login('facebook')">facebook</button>
      <button (click)="login('google')">google</button>
      <button style="display:none;" id="dummy" (click)="login('dummy')">dummy</button>
    </div>
    <app-home [user]="user" [room]="room" [rooms]="rooms" [exec]="exec" (save)=saveCTL($event)></app-home>
    <p></p>
    <app-tiny2 *ngIf="room.story && room.auth>=500" [rid]="room.id" [exec]="exec" (save)=saveCTL($event)></app-tiny2>
    <span *ngIf="room.auth<500 || !room.story&&room.auth===500" style="color:gray;">※この部屋の編集権限がありません</span>
  </mat-sidenav-content>
</mat-sidenav-container>