<app-notice *ngIf="room.id <900 || room.id >=1000" [user]="user" [room]="room" [rooms]="rooms"></app-notice>
<app-book *ngIf="room.id===900" [user]="user"></app-book>
<app-story *ngIf="room.id>=950 && room.id< 1000" [user]="user" [room]="room"></app-story>
<form *ngIf="room.auth>=1000" [formGroup]="roomForm">
  <label>紹介文　<textarea name="discription" cols="70" rows="5" placeholder="部屋の目的や活動内容など" [formControl]="discription"></textarea></label>
  <div style="display:flex;">
    <label>機能　</label>
    <label><input type="checkbox" name="chat" [formControl]="chat" [value]="1" />チャット　</label>
    <label *ngIf="hasmember">　※メンバーがいるのでサロンを中止できません。</label>
    <ng-container *ngIf="!hasmember">
      <label><input type="checkbox" name="story" (change)="changeStory()" [formControl]="story" [value]="1" />ストーリー　</label>
      <label *ngIf="story.value"><input type="checkbox" name="plan" [formControl]="plan" [value]="1">サロン　</label>
    </ng-container>
  </div>
  <div style="display:flex;">
    <label>制限　</label>
    <label><input type="radio" name="shut" [formControl]="shut" [value]="0" [checked]="shut.value===0" />公開</label>
    <label *ngIf="!hasmember"><input type="radio" name="shut100" (change)="changeShut()" [formControl]="shut" [value]="100"
        [checked]="shut.value===100" />非公開　</label>
    <label *ngIf="plan.value"><input type="radio" name="shut1" [formControl]="shut" [value]="1" [checked]="shut.value===1" />募集停止</label>
  </div>
  <ng-container *ngIf="plan.value">
    <label>月額<input type="number" min="50" max="99999" name="amount" step="100" [formControl]="amount" />円</label>
    <span *ngIf="amount.errors?.min||amount.errors?.max" class="errmsg">50円以上10万円未満</span>
    <label>　審査期間<input type="number" min="0" max="30" [formControl]="auth_days" name="auth_days" />日間</label>
    <span *ngIf="auth_days.errors?.min||auth_days.errors?.max" class="errmsg">30日間まで</span>
    <label>　お試し期間<input type="number" min="0" max="365" [formControl]="trial_days" name="trial_days" />日間</label>
    <span *ngIf="trial_days.errors?.min||trial_days.errors?.max" class="errmsg">365日間まで</span>
    <div style="display:flex;">
      <label><input type="radio" name="no_prorate" (change)="changeProrate(0)" [formControl]="prorate" [value]="false"
          [checked]="!prorate.value">加入日に毎月引き落とし</label>
      <label>　</label>
      <label><input type="radio" name="prorate" (change)="changeProrate(1)" [formControl]="prorate" [value]="true"
          [checked]="prorate.value">引き落とし日指定（初月は日割り）</label>
      <label *ngIf="prorate.value">　毎月
        <input type="number" min="1" max="31" [formControl]="billing_day" name="billing_day" />日引落
        <span *ngIf="billing_day.errors?.min||billing_day.errors?.max" class="errmsg">1から31日</span>
      </label>
    </div>
  </ng-container>
</form>